# Preparation for Facebook Technical Questions

Here are my notes for preparing for the technical portion of the interview. To simulate interview conditions, I wrote all code in markdown mode only converting the cells to executable after I felt comfortable they were correct.

## Notes

<a id='pandas-dates'></a> [**Pandas - Time Series / Date Functionality**](http://pandas.pydata.org/pandas-docs/version/0.23/timeseries.html)

* Uses the numpy ```datetime64``` and ```timedelta64``` datatypes

<table border="1" class="docutils">
<colgroup>
<col width="15%">
<col width="27%">
<col width="58%">
</colgroup>

<thead valign="bottom">
<tr class="row-odd"><th class="head">Class</th>
<th class="head">Remarks</th>
<th class="head">How to create</th>
</tr>
</thead><tbody valign="top">
<tr class="row-even"><td><code class="docutils literal notranslate"><span class="pre">Timestamp</span></code></td>
<td>Represents a single timestamp</td>
<td><code class="docutils literal notranslate"><span class="pre">to_datetime</span></code>, <code class="docutils literal notranslate"><span class="pre">Timestamp</span></code></td>
</tr>
<tr class="row-odd"><td><code class="docutils literal notranslate"><span class="pre">DatetimeIndex</span></code></td>
<td>Index of <code class="docutils literal notranslate"><span class="pre">Timestamp</span></code></td>
<td><code class="docutils literal notranslate"><span class="pre">to_datetime</span></code>, <code class="docutils literal notranslate"><span class="pre">date_range</span></code>, <code class="docutils literal notranslate"><span class="pre">bdate_range</span></code>, <code class="docutils literal notranslate"><span class="pre">DatetimeIndex</span></code></td>
</tr>
<tr class="row-even"><td><code class="docutils literal notranslate"><span class="pre">Period</span></code></td>
<td>Represents a single time span</td>
<td><code class="docutils literal notranslate"><span class="pre">Period</span></code></td>
</tr>
<tr class="row-odd"><td><code class="docutils literal notranslate"><span class="pre">PeriodIndex</span></code></td>
<td>Index of <code class="docutils literal notranslate"><span class="pre">Period</span></code></td>
<td><code class="docutils literal notranslate"><span class="pre">period_range</span></code>, <code class="docutils literal notranslate"><span class="pre">PeriodIndex</span></code></td>
</tr>
</tbody>
</table>

* Both ```Timestamp``` and  ```Period``` objects can serve as an index. They are automatically cast into ```DatetimeIndex``` and ```PeriodIndex``` objects.

In [1]:
import pandas as pd
# Can convert from strings to date-like objects via pd.to_datetime
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))

/home/casey/coding_interview/interview_venv/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [2]:
# Make range of dates:
pd.date_range('2010-02-20', '2011-03-05')

DatetimeIndex(['2010-02-20', '2010-02-21', '2010-02-22', '2010-02-23',
               '2010-02-24', '2010-02-25', '2010-02-26', '2010-02-27',
               '2010-02-28', '2010-03-01',
               ...
               '2011-02-24', '2011-02-25', '2011-02-26', '2011-02-27',
               '2011-02-28', '2011-03-01', '2011-03-02', '2011-03-03',
               '2011-03-04', '2011-03-05'],
              dtype='datetime64[ns]', length=379, freq='D')

<a id='pandas-join'></a> [**Pandas - Merge, Join, Concatenate**](https://pandas.pydata.org/pandas-docs/stable/merging.html)

**Difference between '```append```, ```concat```, ```merge```, and ```join```**

**```append```**
* Solely for appending rows to a dataframe, but it is typically slow and seldomly used in favor of concat.
* Exists as a dataframe method (i.e. is called via df.append )

**```concat```**
* For stacking dataframes vertically or horizontally.
* Exists in the pandas namespace (i.e. is called via pd.concat)

**```merge```**
* For performing relational database style stitching

**```join```**
* A shortcut for merging on indices as opposed to merge which allows you to join along arbitrary columns.

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="20%">
<col width="20%">
<col width="60%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Merge method</th>
<th class="head">SQL Join Name</th>
<th class="head">Description</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><code class="docutils literal notranslate"><span class="pre">left</span></code></td>
<td><code class="docutils literal notranslate"><span class="pre">LEFT</span> <span class="pre">OUTER</span> <span class="pre">JOIN</span></code></td>
<td>Use keys from left frame only</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal notranslate"><span class="pre">right</span></code></td>
<td><code class="docutils literal notranslate"><span class="pre">RIGHT</span> <span class="pre">OUTER</span> <span class="pre">JOIN</span></code></td>
<td>Use keys from right frame only</td>
</tr>
<tr class="row-even"><td><code class="docutils literal notranslate"><span class="pre">outer</span></code></td>
<td><code class="docutils literal notranslate"><span class="pre">FULL</span> <span class="pre">OUTER</span> <span class="pre">JOIN</span></code></td>
<td>Use union of keys from both frames</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal notranslate"><span class="pre">inner</span></code></td>
<td><code class="docutils literal notranslate"><span class="pre">INNER</span> <span class="pre">JOIN</span></code></td>
<td>Use intersection of keys from both frames</td>
</tr>
</tbody>
</table>

In [29]:
# Define example dataframes and series
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')

s2 = pd.Series(['X0', 'X1', 'X2', 'X3'],
               index=['A', 'B', 'C', 'D'])

#### Append

In [28]:
# Note that Series objects are more accurately thought of as row objects rather
# than column objects as they are typically displayed

result = df1.append(s2, ignore_index=True)
print('{}\n\n{}\n\n{} '.format(df1, s2, result))

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

A    X0
B    X1
C    X2
D    X3
dtype: object

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

### Concat

In [33]:
################################################################################
# Notes
#
# - Argument must be a list of DataFrames or Series, or a dict
# - In this example all dataframes have the same columns and non-overlapping
################################################################################
result = pd.concat([df1, df2, df3])
print(result)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [39]:
################################################################################
# Notes
#
# - Can attach a distinguishing label for each constituent dataframe now we 
#     will have a multiindex
# - Concat makes a full copy of the data
################################################################################
result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])
print(result)

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [53]:
################################################################################
# Notes
#
# - The default merge method is 'outer' meaning that it will use the union of 
#     all keys in both dataframes
# - Note that with an outer join it fills all missing fields with nans
################################################################################
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])
# Concatenate along rows (i.e. vertical stacking)
result = pd.concat([df1, df4], axis=0)
print(result)
print('\n')
# Concatenate along columns (i.e. horizontal stacking)
result = pd.concat([df1, df4], axis=1)
print(result)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7


     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

/home/casey/coding_interview/interview_venv/lib/python3.5/site-packages/ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

In [63]:
################################################################################
# Notes - Inner Joins
#
# - A join of inner only returns the columns and rows that can be filled in
#     completely, i.e. the intersection
################################################################################
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])
# Concatenate along rows (i.e. vertical stacking)
# Drops columns A, C since the are not present in df4, it drops F not in df1
result = pd.concat([df1, df4], join='inner', axis=0)
print(result)
print('\n')

# Concatenate along columns (i.e. horizontal stacking)
# Drops rows 0, 1, not in df4 and 6, 7 not in df1
result = pd.concat([df1, df4], join='inner', axis=1)
print(result)
print('\n')

# Concatenate along columns (i.e. horizontal stacking)
# We can perform something between an inner and an outer join by specifying we
# want to use only the keys from one but not the other (as opposed to an outer
# join which uses the union)
result = pd.concat([df1, df4], axis=1, join_axes=[df1.index])
print(result)
print('\n')

result = pd.concat([df4, df1], axis=1, join_axes=[df4.index])
print(result)
print('\n')

    B   D
0  B0  D0
1  B1  D1
2  B2  D2
3  B3  D3
2  B2  D2
3  B3  D3
6  B6  D6
7  B7  D7


    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3


    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3


    B   D   F    A    B    C    D
2  B2  D2  F2   A2   B2   C2   D2
3  B3  D3  F3   A3   B3   C3   D3
6  B6  D6  F6  NaN  NaN  NaN  NaN
7  B7  D7  F7  NaN  NaN  NaN  NaN

In [65]:
################################################################################
# Notes - resetting index
#
# - Can reset index and make sequential
################################################################################
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])
# Concatenate along rows (i.e. vertical stacking)
# Resets row numbers
result = pd.concat([df1, df4], axis=0, ignore_index=True)
print(result)
print('\n')

# Concatenate along columns (i.e. horizontal stacking)
# Resets column names
result = pd.concat([df1, df4], axis=1, ignore_index=True)
print(result)
print('\n')

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7


     0    1    2    3    4    5    6
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

/home/casey/coding_interview/interview_venv/lib/python3.5/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

### Merge

```python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)
```

In [72]:
################################################################################
# Notes - Merging on common column one-to-one
#
# - Think about merging as stitching or mappings
# - The default join is INNER
################################################################################
table1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'A': ['A0', 'A1', 'A2', 'A3'],
                       'B': ['B0', 'B1', 'B2', 'B3']})
 

table2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

# Merging on common column  'key'
result = pd.merge(left=table1, right=table2, on='key')
print(result)
print('\n')

# Merging on common column  'key' in reverse order
# Since the keys are one-to-one these are the same (though the columns are permuted)
result = pd.merge(left=table2, right=table1, on='key')
print(result)
print('\n')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3


    C   D key   A   B
0  C0  D0  K0  A0  B0
1  C1  D1  K1  A1  B1
2  C2  D2  K2  A2  B2
3  C3  D3  K3  A3  B3

In [77]:
################################################################################
# Notes - Merging on multiple columns
#
# - The domain of the mapping is the left key, return all entries in right table
#     that match that key
# - If there are common columns in both tables which are not joined on then they
#     will be added but with suffixes '_x' for the left and '_y' for the right
################################################################################

table1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']}) 

table2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
print(table1)
print('\n')
print(table2)
print('\n')

# Join on single key
result = pd.merge(left=table1, right=table2, on=['key1'])
print(result)
print('\n')

# Note that the join is commutative since we are performing an inner join
# The only difference is the suffixes added on the non-joined common column
# key2
result = pd.merge(left=table2, right=table1, on=['key1'])
print(result)
print('\n')

# Join on multiple keys means that both keys have to match both keys in
# the target table. So, since table2 has no entry with (key1, key2) = (K0, K1)
# this is not entered into the resulting (since this is an inner join)
result = pd.merge(left=table1, right=table2, on=['key1', 'key2'])
print(result)
print('\n')

result = pd.merge(left=table2, right=table1, on=['key1', 'key2'])
print(result)
print('\n')

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1


    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0


    A   B key1 key2_x   C   D key2_y
0  A0  B0   K0     K0  C0  D0     K0
1  A1  B1   K0     K1  C0  D0     K0
2  A2  B2   K1     K0  C1  D1     K0
3  A2  B2   K1     K0  C2  D2     K0
4  A3  B3   K2     K1  C3  D3     K0


    C   D key1 key2_x   A   B key2_y
0  C0  D0   K0     K0  A0  B0     K0
1  C0  D0   K0     K0  A1  B1     K1
2  C1  D1   K1     K0  A2  B2     K0
3  C2  D2   K1     K0  A2  B2     K0
4  C3  D3   K2     K0  A3  B3     K1


    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2


    C   D key1 key2   A   B
0  C0  D0   K0   K0  A0  B0
1  C1  D1   K1   K0  A2  B2
2  C2  D2   K1   K0  A2  B2

In [87]:
################################################################################
# Notes - Full Outer Join
#
# - builds table with union of all keys from both left and right tables
################################################################################

table1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']}) 

table2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

# Table will include all pairs from both left and right tables:
#  From left:  (K0, K0), (K0, K1), (K1, K0), (K2, K1)
#  From right: (K0, K0), (K1, K0), (K1, K0), (K2, K0)
# All elements which do not have a counterpart will be filled with NaNs
result = pd.merge(left=table1, right=table2, how='outer', on=['key1', 'key2'])
print(result)
print('\n')

# Note that up to column ordering the two tables are the same
result = pd.merge(left=table2, right=table1, how='outer', on=['key1', 'key2'])
print(result)
print('\n')

result = pd.merge(left=table1, right=table2, how='outer', on=['key1'])
print(result)
print('\n')

# Note that up to column ordering the two tables are the same
result = pd.merge(left=table2, right=table1, how='outer', on=['key1'])
print(result)
print('\n')

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3


     C    D key1 key2    A    B
0   C0   D0   K0   K0   A0   B0
1   C1   D1   K1   K0   A2   B2
2   C2   D2   K1   K0   A2   B2
3   C3   D3   K2   K0  NaN  NaN
4  NaN  NaN   K0   K1   A1   B1
5  NaN  NaN   K2   K1   A3   B3


    A   B key1 key2_x   C   D key2_y
0  A0  B0   K0     K0  C0  D0     K0
1  A1  B1   K0     K1  C0  D0     K0
2  A2  B2   K1     K0  C1  D1     K0
3  A2  B2   K1     K0  C2  D2     K0
4  A3  B3   K2     K1  C3  D3     K0


    C   D key1 key2_x   A   B key2_y
0  C0  D0   K0     K0  A0  B0     K0
1  C0  D0   K0     K0  A1  B1     K1
2  C1  D1   K1     K0  A2  B2     K0
3  C2  D2   K1     K0  A2  B2     K0
4  C3  D3   K2     K0  A3  B3     K1

In [93]:
################################################################################
# Notes - Left/Right Outer Join
#
# - Builds table using all of the keys in either the left or right table
################################################################################

table1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']}) 

table2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

# This will have all of the keys from the left table. If there is no corresponding
# element in the right table, they will be filled with NaNs. Also, a left key can
# be duplicated if there are multiple entries in the right table with the same key
result = pd.merge(left=table1, right=table2, how='left', on=['key1', 'key2'])
print(result)
print('\n')

# Note that this is NON-COMMUTATIVE
result = pd.merge(left=table2, right=table1, how='left', on=['key1', 'key2'])
print(result)
print('\n')

# This will have all of the keys in the right table
result = pd.merge(left=table1, right=table2, how='right', on=['key1', 'key2'])
print(result)
print('\n')

# Note however that left<->right and table1<->table2 is commutative
result = pd.merge(left=table2, right=table1, how='right', on=['key1', 'key2'])
print(result)
print('\n')

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN


    C   D key1 key2    A    B
0  C0  D0   K0   K0   A0   B0
1  C1  D1   K1   K0   A2   B2
2  C2  D2   K1   K0   A2   B2
3  C3  D3   K2   K0  NaN  NaN


     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3


     C    D key1 key2   A   B
0   C0   D0   K0   K0  A0  B0
1   C1   D1   K1   K0  A2  B2
2   C2   D2   K1   K0  A2  B2
3  NaN  NaN   K0   K1  A1  B1
4  NaN  NaN   K2   K1  A3  B3

### Join

Join is really just a shorthand for merging on the indexes of the two tables by default. However, you can include a column argument to join to match a column in the left to an index on the right.
i.e. the two are the same

```python
left.join(right, on=key_or_keys)
pd.merge(left=left, right=right, left_on=key_or_keys, right_index=True, how='left')
```

In [119]:
################################################################################
# Notes - .join()
#
# - Shorthand designed for joining on indexes
# - Default is a left outer join
################################################################################

table1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                       'B': ['B0', 'B1', 'B2', 'B3'],
                       'key': ['K0', 'K1', 'K0', 'K1']})

table2 = pd.DataFrame({'C': ['C0', 'C1'],
                       'D': ['D0', 'D1']},
                       index=['K0', 'K1'])

table3 = pd.DataFrame({'A': ['E0', 'E1', 'E2'],
                       'B': ['D0', 'D1', 'D2'],
                       'key': ['K0', 'K1', 'K1',]})

table4 = pd.DataFrame({'F': ['F0', 'F1', 'F2'],
                       'G': ['G0', 'G1', 'G2'],
                       'key': ['K0', 'K1', 'K1',]})

# Note that since table 2's index is not a set of integers, but a set of strings
# So, when it attempts to join, it will try to join on their indexes, but it
# can't match any so all of right columns are filled with NaNs
result = table1.join(table2)
print(result)
print('\n')

# Now we tell it to instead join on table1's column='key' which finds matches in
# table2's index
result = table1.join(table2, on='key')
print(result)
print('\n')

# Here will be able to match their indexes since they are both just row numbers.
# However, the tables have columns with the same name, so we need to specify what
# suffixes we want to add to the left or right column names to distinguish them
result = table1.join(table3, lsuffix='_l')
print(result)
print('\n')

result = table1.join(table4, lsuffix='_l', rsuffix='_r')
print(result)
print('\n')

    A   B key    C    D
0  A0  B0  K0  NaN  NaN
1  A1  B1  K1  NaN  NaN
2  A2  B2  K0  NaN  NaN
3  A3  B3  K1  NaN  NaN


    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1


  A_l B_l key_l    A    B  key
0  A0  B0    K0   E0   D0   K0
1  A1  B1    K1   E1   D1   K1
2  A2  B2    K0   E2   D2   K1
3  A3  B3    K1  NaN  NaN  NaN


    A   B key_l    F    G key_r
0  A0  B0    K0   F0   G0    K0
1  A1  B1    K1   F1   G1    K1
2  A2  B2    K0   F2   G2    K1
3  A3  B3    K1  NaN  NaN   NaN

In [121]:
?table1.join

## Exercises

### Mock Question from E-mail

An attendance log for every student in a school district ```attendance_events```:

| date | student_id | attendance |
|:----:|:----------:|:----------:|
|      |            |            |

A summary table with demographics for each student in the district ```all_students```: 

|student_id | school_id | grade_level | date_of_birth | hometown |
|-----------|-----------|-------------|---------------|----------|

Using this data, you could answer questions like the following:

* What percent of students attend school on their birthday?
* Which grade level had the largest drop in attendance between yesterday and today?

In [6]:
import pandas as pd
import numpy as np

# Functions used to generate mock data simulating the tables given above.

n_students = 1000
n_days = 10
start_date = '2017-09-01'
end_date = '2018-06-15'

################################################################################
# Attendance Table                                                             #
################################################################################
def _make_event_dates(n_students, start_date, end_date):
    dr = pd.date_range(start_date, end_date)
    dates = []
    for day in dr:
        dates.extend([day] * n_students)
    return dates

def _make_student_ids(n_students, n_days=None):
    student_ids = [xx for xx in range(100, 100 + n_students)]
    if n_days is not None:
        student_ids = student_ids * n_days
    return student_ids

def _make_attendance(n_students, n_days):
    return list(np.random.choice(2, n_students, p=[0.3, 0.7])) * n_days

def build_attendance_events(n_students, start_date, end_date):
    columns = ['date', 'student_id', 'attendance']
    n_days = len(pd.date_range(start_date, end_date))
    
    dates       = _make_event_dates(n_students, start_date, end_date)
    student_ids = _make_student_ids(n_students, n_days)
    attendance  = _make_attendance(n_students, n_days)
    data = [xx for xx in zip(dates, student_ids, attendance)]
    
    df = pd.DataFrame(data=data, columns=columns)
    return df

################################################################################
# District All Students Table                                                  #
################################################################################
def _make_school_ids(n_students):
    schools = ['South River High School',
               'New Brunswick High School',
               'East Brunswick High School',
               'Edison High School']
    return list(np.random.choice(schools, n_students))

def _make_grade_levels(n_students):
    grades = ['Freshman', 'Sophomore', 'Junior', 'Senior']
    return list(np.random.choice(grades, n_students))
    
def _make_DOBs(grade_levels):
    birth_years = {
        'Freshman': 2005,
        'Sophomore': 2004,
        'Junior': 2003,
        'Senior': 2002
    }
    years = [birth_years[xx] for xx in grade_levels]
    months = list(np.random.choice(np.arange(1,13), len(grade_levels)))
    days = list(np.random.choice(np.arange(1,29), len(grade_levels)))
    DOBs = pd.to_datetime(['{}-{}-{}'.format(*dd) for dd in zip(months, days, years)])
    return DOBs

def _make_hometowns(school_ids):
    hometowns = [school.split('High School')[0].strip() for school in school_ids]
    return hometowns
    

def build_all_students(n_students):
    student_ids  = _make_student_ids(n_students)
    school_ids   = _make_school_ids(n_students)
    grade_levels = _make_grade_levels(n_students)
    DOBs         = _make_DOBs(grade_levels)
    hometowns    = _make_hometowns(school_ids)
    
    columns = ['student_id', 'school_id', 'grade_level', 'date_of_birth', 'hometown']
    data = [xx for xx in zip(student_ids, school_ids, grade_levels, DOBs, hometowns)]
    df = pd.DataFrame(data=data, columns=columns)
    return df
    

attendance_events = build_attendance_events(n_students, start_date, end_date)
all_students = build_all_students(n_students=n_students)

In [8]:
attendance_events.head()

        date  student_id  attendance
0 2017-09-01         100           1
1 2017-09-01         101           1
2 2017-09-01         102           1
3 2017-09-01         103           0
4 2017-09-01         104           0

In [9]:
all_students.head()

,student_id,school_id,grade_level,date_of_birth,hometown
0,100,New Brunswick High School,Freshman,2005-09-12,New Brunswick
1,101,New Brunswick High School,Sophomore,2004-09-23,New Brunswick
2,102,South River High School,Freshman,2005-06-24,South River
3,103,East Brunswick High School,Senior,2002-09-05,East Brunswick
4,104,South River High School,Freshman,2005-12-14,South River

#### What percent of students attend school on their birthday?

In [7]:
attendance_events

             date  student_id  attendance
0      2017-09-01         100           1
1      2017-09-01         101           1
2      2017-09-01         102           1
3      2017-09-01         103           0
4      2017-09-01         104           0
5      2017-09-01         105           0
6      2017-09-01         106           0
7      2017-09-01         107           1
8      2017-09-01         108           1
9      2017-09-01         109           1
10     2017-09-01         110           1
11     2017-09-01         111           0
12     2017-09-01         112           0
13     2017-09-01         113           1
14     2017-09-01         114           0
15     2017-09-01         115           0
16     2017-09-01         116           1
17     2017-09-01         117           1
18     2017-09-01         118           0
19     2017-09-01         119           1
20     2017-09-01         120           0
21     2017-09-01         121           0
22     2017-09-01         122           0
23     2017-09-01         123           1
24     2017-09-01         124           0
25     2017-09-01         125           1
26     2017-09-01         126           1
27     2017-09-01         127           1
28     2017-09-01         128           1
29     2017-09-01         129           1
...           ...         ...         ...
287970 2018-06-15        1070           0
287971 2018-06-15        1071           1
287972 2018-06-15        1072           1
287973 2018-06-15        1073           0
287974 2018-06-15        1074           1
287975 2018-06-15        1075           1
287976 2018-06-15        1076           1
287977 2018-06-15        1077           0
287978 2018-06-15        1078           1
287979 2018-06-15        1079           1
287980 2018-06-15        1080           1
287981 2018-06-15        1081           1
287982 2018-06-15        1082           0
287983 2018-06-15        1083           1
287984 2018-06-15        1084           1
287985 2018-06-15        1085           1
287986 2018-06-15        1086           1
287987 2018-06-15        1087           1
287988 2018-06-15        1088           1
287989 2018-06-15        1089           1
287990 2018-06-15        1090           0
287991 2018-06-15        1091           1
287992 2018-06-15        1092           1
287993 2018-06-15        1093           1
287994 2018-06-15        1094           1
287995 2018-06-15        1095           1
287996 2018-06-15        1096           0
287997 2018-06-15        1097           1
287998 2018-06-15        1098           0
287999 2018-06-15        1099           1

[288000 rows x 3 columns]

#### Relevant Notes

[Pandas - Dates and Times](#pandas-dates)

[Pandas - Merge, Join, Concatenate](#pandas-join)